<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uARM Control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68E9828B1CC584590079BA3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E9829F1CC5845A0079BA3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E982AA1CC5845A0079BA3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
